@tailwind base;
@tailwind components;
@tailwind utilities;

body > #root {
  height: 100vh;
  width: 100vw;
}


@font-face {
  font-family: "DM Sans";
  src: url(./fonts/DMSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(./fonts/DMSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "DM Sans";
  src: url(./fonts/DMSans-Medium.ttf);
  font-weight: medium;
}
input {
  border: none; 
  outline: none;
  background-color: transparent;
}

input:focus {
  outline: none;
  background-color: transparent;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans";
  font-weight: normal;
}

*::-webkit-scrollbar {
  width: 0px;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}
 
*::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  outline: 0px solid transparent;
  border-radius: 24px;
}